.header {
  color: white;
  padding: 100px;
  text-align: center;
}

.header-content h1 {
  font-size: 5rem;
  margin-bottom: 30px;
  font-weight: 700;
  color: #222;
}

.header-content p {
  opacity: 0.9;
  font-size: 1.6rem;
  color: #444;
}

.search-box {
  margin-top: 20px;
}

.header input {
  width: 100%;
  max-width: 600px;
  padding: 18px 25px;
   border: 2px solid #ddd;
  border-radius: 25px;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
}

.header input:focus {
  border: 2px solid #51C255;
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(81, 194, 85, 0.3);
}


/* RESPONSIVE PARA CELULAR */


@media (max-width: 768px) {

  .header {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-content h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .header-content p {
    font-size: 1rem;
    text-align: center;
  }

  .header input {
    width: 95%;
    padding: 14px 18px;
  }

  .header input:focus {
    transform: scale(1.02);
  }
}